*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, #1a1a1b, rgb(14, 13, 13) );
    color:#8257e5;
    height: 100%;
}

#container{
    width: 100%;
    height: 100px;
    background-color: #1a1a1b ;
    color: #8257e5;
    border-bottom: 1px solid rgb(99, 99, 99);
    position: relative;
    
    
}

#ytb{
    width: 70px;
    height: 50px;
    right: 200px;
    top: 20px;
    position: absolute;


}

#git{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 110px;
}

#twitch_logo{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#git:hover{
    cursor: pointer;
}

#ytb:hover{
    cursor: pointer;
}

#twitch_logo:hover{
    cursor: pointer;
}


#logo{
    width: 350px;
    height: 100px;
    font-size: 40px;
    left: 15px;
    padding-top: 10px;
    padding-left: 15px;
    font-family: 'Mochiy Pop P One', sans-serif;
    position: absolute;
}


#painel{
    height: 250px;
    
}


#titulo{
    margin: auto;
    text-align: center;
    padding-top: 80px;
    
    font-family: 'Mochiy Pop P One', sans-serif;
}

#twitch{
    width: 100%;
    height: 700px;
    margin: auto;
    /* background-color: blue; */
    
}

#imagem1{
    width: 1200px;
    height: 100%;
    display: block;
    margin: auto;
    /* margin-left: 40px; */
    border: 1px solid rgb(109, 108, 108);
}


#curtas{
    width: 100%;
    /* background-color: red; */
} 


#curtas, h2{
    font-size: 50px;
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif ;
    color: #8257e5;
    margin-top: 60px;
    
}


#conteudo{
    width: 1200px;
    height: 400px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    
    

}

#bloco1{
    /* background-color: blue; */
    width: 50%;
    height: 400px;
    display: flex;
}

#bloco2{
    /* background-color: green; */
    width: 50%;
    height: 400px;
    display: flex;
}


#video1{
    width: 500px;
    height: 300px;
    margin: auto;
    
}

#video2{
    width: 500px;
    height: 300px;
    margin: auto;
    
    
}

#teste{
    text-align: center;
    padding-top: 40px;
    visibility: hidden;
}

@media (max-width: 1220px) {

    #twitch{
        margin: auto;
        height: 500px;
    }

    #imagem1{
        width: 900px;
        height: 500px;
        margin: auto;
    }

    #conteudo{
        width: 100%;
    }
    
    #container, h1{
        font-size: 30px;
    }

    #curtas, h2{
        margin-top: 20px;
    }

    #video1{
        width: 450px;
        height: auto;
    }

    #video2{
        width: 450px;
        height: auto;
    }
}



@media (max-width: 950px){

    #imagem1{
        width: 100%;
        height: 500px;
    }

    #conteudo{
        display: block;
        height: 600px ;
    }

    #bloco1{
        width: 100%;
        height: 300px;

    }

    #bloco2{
        width: 100%;
        height: 300px;
    }

    

}

@media (max-width: 720px) {

    #twitch{
        height: 300px;
    }

    #container, h1{
        font-size: 20px;
        margin-top: 10px;
    }

    #titulo{
        font-size: 30px;
    }
    
    #imagem1{
        height: 300px;
    }

    #ytb{
        width: 50px;
        height: 30px;
        top: 30px;
        right: 140px;
    }

    #git{
        width: 50px;
        height: 30px;
        top: 30px;
        right: 80px;
    }

    #twitch_logo{
        width: 50px;
        height: 30px;
        top: 30px;
    }

    #logo{
        font-size: 25px;
    }
}